@media screen and (min-width: 768px){

	.barra-superior{
		background-color: #16B9F8;
		width: 100vw;
		height: 7.5vw;
		display: flex;
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.logo-indie{
		background: url(../res/LogoIndie.png) no-repeat;
		background-size: contain;
		width: 15vw;
		height: 90%;
		margin-top: 1%;
		margin-left: 20%;
		display: inline-block;
	}
	
	.container-logos{
		width: 20vw;
		height: 40%;
		display: flex;
		margin-top: 3%;
		margin-left: 1%;
	}
	
	.logo-boton{
		background-color: #0AA8E5;
		border-radius: 50%;
		height: 100%;
		width: 15%;
		margin-left: 5%;
		display: flex;
	}
	
	.logo-boton:hover{
		background-color: #57D1FF;
	}
	
	.logo-imagen{
		height: 60%;
		width: 60%;
		margin: auto;
		display: inline-block;
	}

	.seccion1{
		background: linear-gradient(to bottom, #16B9F8 0%, #16B9F8 40%, #FFFFFF 100%);
		height: 40vw;
		width: 100vw;
		margin:0px;
		padding-bottom: 0px;
	}

	.separador{
		background: #16B9F8;
		height: 2vw;
		padding: 0px;
	}

	.seccion2{
		overflow: hidden;
		background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #58D1FF 100%);
		background-position: 0px, 0px;
		background-size: 100%;
		height: 29vw;
		width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
		display: flex;
	}

	.foto-sec2{
		background: url(../res/Seccion1-desk.png);
		width: 50%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.tex-sec2{
		width: 50%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.seccion3{
		overflow: hidden;
		background: #FFEE00;
		height: 60vh;
		width: 100vw;
		margin-top: 0px;
		padding-top: 0px;
		padding-left: 5%;
		padding-right: 5%;
		display: flex;
	}

	.p-sec2{

		text-align: left;
		white-space: pre-line;
		font-size: 2.25vw;
		line-height: 2.25vw;
		color: #121212;
		margin-left: 6vw;
		margin-right: 5vw;
		margin-top: 14%;
	}

	.p-color{
		color: #9747FF;
	}

	.acerca-p{
		display:none;
	}
		
	.overlay1{
		background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
		overflow: hidden;
		height: 100%;
		width: 100%;
	}

	.overlay2{
		display:none;
	}

	.cta-mob{
		display: none;
		padding-bottom: 0px;
	}
	
	.cta-desk{
		margin-top: 6vw;
		border: 2px solid #121212;
		background: #FAFAFA;
		box-shadow: -1vh 1.5vh #121212;
		height: 5vw;
		width: 20vw;
		color: #222222;
		margin-left: 5.5vw;
	}
	
	.cta-desk:hover{
		background: #DCDCDC;
	}


	.bebas-neue-regular.cta-text{
		margin-left: 5vw;
		margin-top: 1.4vw;
		font-size: 2vw;
	}
	
	h1{
		-webkit-text-stroke: 0.5px #121212;
		white-space: pre-line;
		font-size: 6vw;
		line-height: 6vw;
		color: #FAFAFA;
		text-shadow: -0.5vw 0.35vw #121212;	
		margin-top: 2vw;
		margin-bottom:0px;
		margin-left: 2.5vw;
		padding-left: 2vw;
		padding-bottom: 0px;
	}
	
	h2{
		-webkit-text-stroke: 0.5px #FFFFFF;
		white-space: pre-line;
		font-size: 1.8vw;
		color: #111111;
		text-shadow: -0.2vw 0.2vw #FFFFFF;
		margin-top: 1vw;
		margin-left: 2.5vw;
		padding-left: 2vw;
	}

	.bullet-cont{
		height: 100%;
		width: 30%;
		padding: 2.5%;
	}

	.bullet-ico{
		background-size: contain;
		height: 5vw;
		width: 5vw;
	}
}
