@media screen and (max-width: 768px){
	.barra-superior{
		background-color: #16B9F8;
		width: 100vw;
		height: 30vw;
		display: flex;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px;
		padding-bottom:0px;
	}

	.logo-indie{
		background: url(../res/LogoIndie.png) no-repeat;
		background-size: contain;
		width: 40vw;
		height: 40vw;
		margin-top: 10vw;
		margin-left: 30vw;
		display: inline-block;
	}
	
	.container-logos{
		display: none;
	}
	
	.logo-boton{
		background-color: #0AA8E5;
		border-radius: 50%;
		height: 8vw;
		width: 8vw;
		margin-left: 2vw;
		display: flex;
	}
	
	.logo-boton:hover{
		background-color: #57D1FF;
	}
	
	.logo-imagen{
		height: 60%;
		width: 60%;
		margin: auto;
		display: inline-block;
	}

	.seccion1{
		background: url(../res/Seccion1-mob.png) no-repeat;
		background-size: fit;
		height: 125vw;
		width: 100vw;
		margin-top:0px;
	}
	
	.overlay1{
		background: linear-gradient(to bottom, rgba(36,36,36,1), rgba(255,255,255,.0));
		overflow: hidden;
		height: 72%;
		width: 100%;
	}

	.cta-desk{
		display: none;
	}
	
	.cta-mob{
		overflow: hidden;
		background: #FAFAFA;
		border: 1px solid #121212;
		box-shadow: -2vw 2vw #121212;
		height: 20vw;
		width: 60vw;
		color: #121212;
		margin-top:0px;
		margin-left: 20vw;
	}
	
	.cta-mob:hover{
		background: #DCDCDC;
	}


	.jockey-one-bold.cta-text{
		margin-left: 10vw;
		margin-top: 4vw;
		font-size:7vw;
	}
	
	h1{
		text-align: left;
		white-space: pre-line;
		font-size: 15vw;
		line-height: 15vw;
		-webkit-text-stroke: 0.2px #121212;
		color: #FAFAFA;
		text-shadow: -2vw 2vw #121212;
		margin-top: 5vw;
		margin-bottom:0px;
		margin-left: 5vw;
		padding-left: 2vw;
		padding-bottom: 4vw;
	}
	
	h2{
		text-align: left;
		white-space: pre-line;
		font-size: 6vw;
		line-height: 6vw;
		color: #FAFAFA;
		-webkit-text-stroke: 0.2px #121212;
		text-shadow: -1vw 1vw #121212;
		margin-top: 10vw;
		margin-left: 5vw;
		margin-right: 7vw;
		padding-left: 1vw;
	}
}
