*{
	overflow: hidden;
	box-sizing: content-box;
}

.jockey-one-regular{
	font-family: "Jockey One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.jockey-one-semibold{
	font-family: "Jockey One", sans-serif;
	font-weight: 600;
	font-style: semibold;
}

.jockey-one-bold{
	font-family: "Jockey One", sans-serif;
	font-weight: 700;
	font-style: bold;
}

.barra-superior{
	background-color: #16B9F8;
	width: 100vw;
	height: 15vh;
	display: flex;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

body{
	margin:0px;
}

.logo-indie{
	background: url(../res/LogoIndie.png) no-repeat;
	background-size: contain;
	width: 15vw;
	height: 90%;
	margin-top: 1%;
	margin-left: 20%;
	display: inline-block;
}

.container-logos{
	width: 20vw;
	height: 40%;
	display: flex;
	margin-top: 3%;
	margin-left: 1%;
}

.logo-boton{
	background-color: #0AA8E5;
	border-radius: 50%;
	height: 100%;
	width: 15%;
	margin-left: 5%;
	display: flex;
}

.logo-boton:hover{
	background-color: #57D1FF;
}

.logo-imagen{
	height: 60%;
	width: 60%;
	margin: auto;
	display: inline-block;
}

#seccion1{
	background: url(../res/Seccion1.png) no-repeat;
	background-size: cover;
	height: 80vh;
	width: vw;
	margin:0px;
}

.overlay1{
	background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.cta{
	background: #FAFAFA;
	box-shadow: -1vh 1.5vh #121212;
	height: 10vh;
	width: 20vw;
	color: #222222;
}

.cta:hover{
	background: #DCDCDC;
}

h1{
	white-space: pre-line;
	font-size: 128px;
	color: #FAFAFA;
	text-shadow: -0.5vw 0.5vw #121212;
}

h2{
	white-space: pre-line;
	font-size: 36px;
	color: #FAFAFA;
	text-shadow: -0.2vw 0.2vw #121212;
}
